#content {

    float: left;
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;

}

#word {

    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

#hint {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
